@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}  

/* shared style */
.display-flex{
  display: flex;
}

/* dark 2 */
.text-gray{
  color: #424242;

}
.text-primary{
  color: #FF900E;
}

/* dark 3 */
.text-light-gray{
  color: #727272;
}
main{
  max-width:1440px;
  margin: 0 auto;
}
.btn-primary{
  background-color: #FF900E;
  font-weight: 600;
  padding: 20px 24px;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  color: white;

}
main>section{
  margin-top: 130px;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}




/* header style */
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}



/* navber ralated style */
.navber{
  justify-content: space-between;
  align-items: center;

}
.brand{
  font-size: 3rem;
  font-weight: bold;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
}

.navber,.banner{

  max-width: 1440px;
  margin: 0 auto;

}

/* banner ralated style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: bold;
}
.banner-images{
  width: 100%;
}

/* team and feature ralated style */
.team{
 align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.our-feature{
  max-width: 530px;
  margin-left: 130px;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
#Quick-list{
  font-weight: 500;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
  margin-bottom: 100px;
  /* margin-top: 24px; */
}

.sponsors-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsors-companis{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsors-companis img{
  filter: grayscale(100%);
}

/* feature section */

#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}
.feature-card .feature-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px;
}
.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-top: 20px;
}
.feature{
  gap: 140px;
}
.feature-architec img{
  width: 100%;
}

#experience-badge{
  padding: 45px 42px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;

}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}


/* media quary  */
@media screen and (max-width:576px){

  .navber,.nav-links, .team,.feature {
    flex-direction: column;
  }


  .team-img-container, 
  .facts-container,
  .sponsors-companis{
    grid-template-columns:repeat(1,1fr);
  }
  .our-feature{
    margin-left: 20px;
  }
  #experience-badge{
    margin-top: 10px;
    margin-left: 70px;
  }
   
  .facts-container{
    justify-items: center;
    gap: 24px;
  }
  .sponsors-companis{
    justify-items: center;
    gap: 50px;
  }
  
}


@media screen and (min-width:576px) and (max-width:992px){
  .team{
    flex-direction: column;
  }
  .our-feature{
    margin: 50px auto;
  }
  
}